:root {
    --color: #ffa500;
    --font-family: 'Montserrat', sans-serif;
}

body{
    margin: unset;
    font-family: var(--font-family);
}

#countries{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

h2{
    margin: unset;
    font-size: 40px;
    color: var(--color);
}

.graph-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 120px;
    height: 35px;
    border: unset;
    background-color: var(--color);
    margin: 10px 6px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover{
    cursor: pointer;
    background-color: #eab95e;
}

.graphs{
    width: 980px;
    margin: auto;
}

.graphs .graph-wrapper{
    font-size: 20px;
}

#stat table {
    width: 100%;
    margin: auto;
}

#stat table td{
    padding: 10px 0;
}

td.progress-bar {
    width: 500px;
}

.progress {
    content: '';
    background-color: var(--color);
    height: 40px;
    border-radius: 5px;
}

#stat div .no{
    text-align: left;
}