:root {
    --color: #4e26ec;
    --secondary-color: #4f7be2;
}

body {
    margin: unset;
}

header {
    background-image: url("../images/globe-2.jpg");
    background-position: center;
    background-size: cover;
}

header .header-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 980px;
    text-align: center;
    padding: 100px;
    color: white;
}

.header-wrapper h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.search-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

button {
    margin: 0 5px;
    height: 20px;
    background-color: var(--color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: unset;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button.clicked {
    background-color: var(--secondary-color);
}

button:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

input#search-box {
    height: 35px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid var(--color);
    padding: 5px 20px;
    text-align: center;
}

.results-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1280px;
    margin: auto;
    padding: 75px 0;
}

.results-wrapper .item{
    background-image: url(../images/map_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin: 10px;
}

.results-wrapper .item::after{
    content: '';
    background-color: #c3c3c3;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    border-radius: 5px;
}